
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --maincColor:  #ebd8c1  ; 
    --secondColor:   #a4a494 ;

}

/* navbar  and footer*/

.navbar,.footer{
    background-color: var(--secondColor)   ;
}

.end{
    background-color: #858572  ;
}
.navbar{
    transition: all 0.5s;
}



.customActive{
    padding: 5px;
    background-color: var(--maincColor) !important;
    color: black;
    border-radius: 20px ;
}

/* end navbar and footer */


/* start about */

.about,.contact,.home,.portfolio{
    background-color: var(--maincColor);
}

.icon::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    left: 1.875rem;
    top: 50%;
    background-color: black;
}
.icon::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    right: 1.875rem;
    top: 50%;
    background-color: black;
}

/* end about */


/* start portfolio */

.layer{
    transition: all 0.5s;
}

    .portfolio .image:hover .layer{
        opacity: 75% !important;
    }

    .lightBox{
        background-color: rgb(0, 0, 0,0.7);
         box-shadow : 0 0 15px #fff;
         z-index: 10000;
        
    }
    
/* end portfolio */


/* start contact */
    .form-control:focus {
       
        box-shadow: 0 0 0 0.25rem #858572 !important  ;
    }
    
/* end contact */